$primary-color: #31e1f7;
$primary-light-color: #50e8fc;
$primary-dark-color: #2db8ca;

.main__page {
  margin: 5rem auto 0 auto;
  width: 80%;

  & h2 {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: $primary-color;
    text-transform: capitalize;
    margin-bottom: 4rem;
  }

  & h4 {
    font-size: 1.5rem;
    color: $primary-dark-color;
    margin-bottom: 1.8rem;
  }

  & ul {
    list-style: none;

    & li {
      display: flex;
      align-items: center;
      margin-bottom: 1.3rem;

      & .icons {
        height: 1.5rem;
        width: 1.5rem;
        fill: #31e1f7;
      }
      & a:link,
      & a:visited {
        margin-left: 2rem;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: $primary-color;
        transition: all 0.2s;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: all .3s;
      }
      & a:hover {
        color: #36a1af;
      }
    }
  }
}

// Typewriter Effect
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.2rem; 
  animation: typing 5s steps(40, end);
  //   animation-delay: 20s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

