.fallback {
  &__box {
    width: 100%;
    height: 100vh;
   @include flex-center; 
  }
  &__spinner {
    height: 3rem;
    width: 3rem;
    fill: $primary-color;
    animation: spinner 3s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.boundary__error {
  width: 100%;
  height: 100vh;
  font-size: 2.5rem;
  color: rgb(39, 215, 238);
  font-weight: 500;
  letter-spacing: 0.2rem;

  @include flex-center;
  flex-direction: column;

  & button {
    margin-top: 2rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(32, 119, 136);
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgb(32, 119, 136);
      color: rgb(255, 255, 255);
    }
  }
}

