.button {
  padding: 0.4rem .8rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
  color: rgba(91, 89, 89, 0.874);
  border: none;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba($primary-light-color, 0.7),
    rgba($primary-dark-color, 0.7)
  );
  transition: all .3s;

  &:hover {
    color: rgba(54, 54, 54);
    background: linear-gradient(
      to bottom,
      rgba($primary-dark-color, 0.7),
      rgba($primary-light-color, 0.7)
    );
  }
  &:disabled {
    cursor: not-allowed;
    background: linear-gradient(
    to bottom,
    rgba($primary-light-color, 0.2),
    rgba($primary-dark-color, 0.2)
  );
  }
}
