.home {
  width: 100%;
  margin: 4rem;
  background-color: $back-color;
  @include flex-center;
  flex-direction: column;

  & div {
    margin: 1.3rem;

    & a:link,
    & a:visited {
      text-decoration: none;
      font-size: 4rem;
      color: $primary-color;
      letter-spacing: 0.2rem;
      font-weight: 500;
    }

    & a:hover {
      color: rgba($primary-color, 0.7);
    }

    & a::after {
      content: "\21D2";
      opacity: 0;
      margin-left: 0.8rem;
      color: #33a8b5;
      font-size: 4rem;
    }
    & a:hover::after {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: $bp--large) {
  .home {
    margin: 4rem;

    & div {
      margin: 1rem 0;

      & a:link,
      & a:visited {
        font-size: 3rem;
      }
    }
  }
}

@media only screen and (max-width: $bp--small) {
  .home {
    & div {
      & a:link,
      & a:visited {
        font-size: 2rem;
      }
    }
  }
}
