.main__page {
  margin: 5rem auto 0 auto;
  width: 80%;

  & h2 {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    color: $primary-color;
    text-transform: capitalize;
    margin-bottom: 4rem;
  }

  & h4 {
    font-size: 1.5rem;
    text-align: center;
    color: $primary-dark-color;
    margin-bottom: 1.8rem;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;

    & li {
      flex-basis: 30%;
      height: 25vw;
      padding: 1.5rem;
      border-top-left-radius: 3rem;
      border-bottom-right-radius: 3rem;
      border: 0.2rem solid transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: #3a93f2ea;

      &:hover {
        border: 0.2rem solid rgb(144, 251, 246);
        transition: all 0.3s ease-in-out;
      }

      &:hover .icons {
        animation: bounce 2s infinite ease-in-out;
      }

      & .icons {
        height: 4rem;
        width: 4rem;
        fill: #31e1f7;
      }
      & a:link,
      & a:visited {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: $primary-color;
        text-align: center;
        transition: all 0.2s;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: all 0.3s;
      }

      & a:hover {
        color: rgb(195, 204, 212);
        transform: scale(1.1);
      }
    }
  }
}

// Typewriter Effect
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.2rem;
  animation: typing 5s steps(40, end);
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.12);
    fill-opacity: 0.6;
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: $bp--large) {
  .main__page {
    width: 95%;

    & h2 {
      font-size: 3rem;
    }
  }
}
@media only screen and (max-width: $bp--medium) {
  .main__page {
    & h2 {
      font-size: 2.5rem;
    }

    & ul {
      flex-wrap: wrap;

      & li {
        margin: 1rem auto;
        flex-basis: 55%;
        height: 35vw;
      }
    }
  }
}
@media only screen and (max-width: $bp--small) {
  .main__page {
    & h2 {
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
