.new__question {
  &--card {
    width: 50%;
    margin: 5rem auto 2rem auto;
  }
  &--box {
    width: 100%;
    margin-top: 1rem;
    text-align: right;
  }
}

@media only screen and (max-width: $bp--large) {
  .new__question {
    &--card {
      width: 65%;
    }
  }
}

@media only screen and (max-width: $bp--medium) {
  .new__question {
    &--card {
      width: 75%;
    }
  }
}

@media only screen and (max-width: $bp--small) {
  .new__question {
    &--card {
      width: 80%;
    }
  }
}
