.pagination {
  &__card {
    width: 80%;
    margin: 2rem auto 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icons--box {
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icons--prev,
  &__icons--next {
    height: 2rem;
    width: 2rem;
    fill: #344444;
    cursor: pointer;

    &:hover {
      fill: #467575;
    }
  }

  &__icons--paragraph {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(33, 34, 34, 0.916);
  }

  &__buttons {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    & button {
      text-align: center;
      padding: 0.5rem 1rem;
      margin: 0 0.3rem 0.3rem 0.3rem;
      font-size: 1rem;
      background-color: rgba(17, 41, 41, 0.748);
      color: #8cf4f4;
      border-radius: 0.5rem;
      border: 0.2rem solid transparent;

      &:hover {
        border: 0.2rem solid rgb(43, 241, 241);
        background-color: #467575;
      }

      &:focus {
        border: 0.2rem solid rgb(36, 206, 206);
      }
    }
  }
}

.not__allowed {
  cursor: not-allowed !important;
  fill: rgb(167, 206, 213) !important;
}

@media only screen and (max-width: $bp--large) {
  .pagination {
    &__icons--box {
      flex-basis: 25%;
    }

    &__buttons {
      flex-basis: 70%;
    }
  }
}
