.search__card {
  width: 75%;
  margin: 2rem auto 4rem auto;
  &--input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & div {
      flex-basis: 45%;
    }
  }
  &--button {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &--paragraph {
    & p {
      font-size: 1rem;
      letter-spacing: 0.06rem;
      font-weight: 400;
      color: #10454c;

      & span {
        font-size: 1rem;
        letter-spacing: 0.07rem;
        font-weight: 500;
        color: #0c3034;
        margin-left: 0.3rem;
      }
    }
  }
}

@media only screen and (max-width: $bp--large) {
  .search__card {
    width: 85%;

    &--input {
      & div {
        width: 30%;
      }
    }
  }
}

