@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

$primary-color: #31e1f7;
$primary-light-color: #50e8fc;
$primary-dark-color: #2db8ca;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: rgba(255, 255, 255, 0.913);
  font-weight: 300;
}


